


$primary-color: #717AEF;
$grey-three : #D9D9D9;

h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
}

button {
  outline: none;
  cursor: pointer;
}

.primaryColor {
  color: $primary-color;
}

.grey3 {
  color: $grey-three ;
}


li {
  list-style: none;
}

.App {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.MainArea {
  margin-top: 100px;
}

.App-header {
  background-color: white;
  height: 64px;
  color: rgba(0,0,0,0.54);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,0.14);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  .links {
    float: right;
    padding-top: 20px;
  }

  .LogoCase > div {
      vertical-align: middle;
  }

  .actionIcons {
    float: right;
    padding-top: 8px;

    button {
      margin: 12px;
      border: none;
      background-color: transparent;
    }

    i {
      width: 24px;
      height: 24px;
    }
  }

  ul {
    margin: 0px;
    padding: 0px;
  }

  ul li{
    display: inline-block;
    font-size: 14px;
    margin-left: 34px;
    font-weight: 600;
  }

  .LogoCase {
    padding-top: 20px;
    float: left;
    opacity: 0.54;
    margin-left: 40px;
  }

  .logo {
    background-image: url("./daniel.svg");
    width: 74px;
    height: 24px;
    -webkit-background-size: 74px 24px;
    background-size: 74px 24px
  }

  .headerElement {
    display: inline-block;
  }

}

.listGrid {
 
}


.listContainer {

  width: calc(33% - 41px);
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0,0,0,1);
  display: inline-block;
  box-sizing: border-box;
  float: left;
  flex: 1;
  min-height: 360px;


  .listHeader {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  .listBody {
    display: flex;
  }

  .listText {
    text-align: left;
  }

  .listSentence {
    font-size: 40px;
    text-align: left;
  }

  .listInfo {
    display: inline-block;
  }

  .listAddBtn {
    background-color: transparent;
    border: none;
    display: inline-block;
    cursor: pointer;
  }

}

.primaryOpen {
  width: 100%;
  padding-right: 296px;
  box-sizing: border-box;
}

.secondaryOpen {
  position: fixed;
  z-index: 80;
  top:0px;
  right:0px;
  width: 280px;
  height: 100%;
  background-color: white;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(0, 0 ,0, 0.14);
}


.rightMenuContainer{
    width: 200;
    height: 100%;
}






.testFont {
  font-family: 'Baloo Paaji', cursive;
}



.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}










@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';
@import 'https://fonts.googleapis.com/css?family=Crimson+Text';
@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';
@import 'https://fonts.googleapis.com/css?family=Bitter';
@import 'https://fonts.googleapis.com/css?family=Oswald';
@import 'https://fonts.googleapis.com/css?family=Poiret+One';
@import 'https://fonts.googleapis.com/css?family=Merriweather';
@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'https://fonts.googleapis.com/css?family=Fascinate+Inline';
@import 'https://fonts.googleapis.com/css?family=VT323';
@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';
@import 'https://fonts.googleapis.com/css?family=Lobster';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans|Poppins';
@import 'https://fonts.googleapis.com/css?family=BioRhyme+Expanded|Fauna+One|Ultra';
@import 'https://fonts.googleapis.com/css?family=Amatic+SC';
@import 'https://fonts.googleapis.com/css?family=Tillana';
@import 'https://fonts.googleapis.com/css?family=Aldrich';






