
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';



$primary-color: #717AEF;
$grey-three : #D9D9D9;

h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
}

body {
   font-family: 'Source Sans Pro', sans-serif; 
}





button {
  outline: none;
  cursor: pointer;
}

.primaryColor {
  color: $primary-color;
}

.grey3 {
  color: $grey-three ;
}


li {
  list-style: none;
}

.App {
  text-align: center;

    .off{
      display: none;
    }

    .overlay{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 900;

      background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5));

    }


    .selectedFonts{

        .selectedHeader{
            background-color: #222;
            padding: 28px 16px 28px 16px;



            h4{
              color: white;
              text-align: left;
              font-size: 12px;
            }

        }

    }

 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.MainArea {
  margin-top: 100px;
}

.App-header {

  font-family: 'Source Sans Pro', sans-serif; 
  background-color: white;
  height: 64px;
  color: rgba(0,0,0,0.54);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,0.14);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 500;

  .links {
    float: right;
    padding-top: 20px;
  }

  a{
    text-decoration: none;
    color: black;
    opacity: 0.54;
  }

  link{
    text-decoration: none;
    color: black;
    opacity: 0.54;
  }

  .active{
    color: $primary-color;
  }

  .LogoCase > div {
      vertical-align: middle;
  }

  .actionsOpen {
    transform:translateX(-280px)
  }

  .actionsClosed {
    transform:translateX(10px)
  }

  .actionIcons {
    float: right;
    padding-top: 8px;
    margin: 0px 40px 0px 20px;

    button {
      margin: 12px;
      border: none;
      background-color: transparent;
    }

    i {
      width: 24px;
      height: 24px;
    }



  }

  ul {
    margin: 0px;
    padding: 0px;
  }

  ul li{
    display: inline-block;
    font-size: 14px;
    margin-left: 34px;
    font-weight: 600;
  }

  .LogoCase {
    padding-top: 20px;
    float: left;
    opacity: 0.54;
    margin-left: 40px;
  }

  .logo {
    background-image: url("./daniel.svg");
    width: 74px;
    height: 24px;
    -webkit-background-size: 74px 24px;
    background-size: 74px 24px
  }

  .headerElement {
    display: inline-block;

  }

}

.listGrid {
 
}

.listContainer {


      border-top-style: solid;
      border-top-width: 1px;
      border-top-color: rgba(0,0,0,1);
      display: inline-block;
      box-sizing: border-box;
      float: left;
      flex: 1;
      min-height: 420px;


      .listHeader {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
      }

      .listBody {
        display: flex;

        p{
          margin: 10px 0px;
        }

      }

      .listText {
        text-align: left;
      }

      .listSentence {
        font-size: 40px;
        text-align: left;
      }

      .listInfo {
        display: inline-block;
      }

      .listAddBtn {
        background-color: transparent;
        border: none;
        display: inline-block;
        cursor: pointer;
      }


      .spin180 {
          animation-name: spinnerOut;
          -webkit-animation-name: spinnerOut;
          transform: rotate(0deg);
          animation-duration: 0.6s;
          -webkit-animation-duration: 0.6s;
          animation-fill-mode: forwards;
          -webkit-animation-fill-mode: forwards;
      }

      .addCircle {
        position: relative;
        z-index: 100;
        right: -24px;
      }

      .removeOutline {
        z-index: 50;
        opacity: 0;
      }

      .revealRemove {
          animation-name: revealremove;
          -webkit-animation-name: revealremove;
          animation-delay: 0.5s;
          -webkit-animation-delay: 0.5s;
          animation-duration: 0.3;
          -webkit-animation-duration: 0.3;
          animation-fill-mode: forwards;
          -webkit-animation-fill-mode: forwards;
      }


    }









.listActionBar {

    padding: 10px 0px 10px 0px;
    height: 24px;
    opacity: 0;

    .left{
      text-align: left;
    }

    p {
      padding: 0px;
      margin: 0px;
    }

    .center {
        border-left-width: 1px;
        border-right-width: 1px;
        border-left-color: $primary-color;
        border-right-color: $primary-color;
        border-left-style: solid;
        border-right-style: solid;
    }


    .actionBarSeg{

      display: inline-block;
      width: 33%;
      color: $primary-color;

      .large{
        width: 70%;
      }
      input[type=range] {
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        max-width: 100px; /* Specific width is required for Firefox. */
        background: transparent; /* Otherwise white in Chrome */
      }


      input[type=range]::-webkit-slider-runnable-track {
          max-width: 100px;
          height: 5px;
          background: #ddd;
          border: none;
          border-radius: 3px;
      }

      input[type=range]::-webkit-slider-thumb {
          -webkit-appearance: none;
          border: none;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          background: $primary-color;
          margin-top: -4px;
      }

      input[type=range]::-ms-thumb {
          border: none;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          background: goldenrod;
      }

      .small{
        width: 30%;
      }

      .actionBarItem {
        display: inline-block;
        vertical-align: text-top;

          p {
            vertical-align: middle;
          }

          i {
            vertical-align: middle;
          }

      }

    }

}

.listContainer:hover .listActionBar {
  opacity: 1;
}


.primaryOpen {
  width: 100%;
  padding-right: 296px;
  box-sizing: border-box;
}

.secondaryOpen {
  position: fixed;
  z-index: 500;
  top:0px;
  right:0px;
  width: 280px;
  height: 100%;
  background-color: white;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(0, 0 ,0, 0.14);
}

.secondaryClosed {
  display: none;
}


.rightMenuContainer{
    width: 200;
    height: 100%;


    .filters {

      h4 {
        float: left;
        color: rgba(0,0,0,0.34);
        margin-bottom: 16px;
        font-size: 14px;
      }

      ul{

        margin: 0px;
        padding: 0px;

        li{

          float:left;
          width: 100%;
          margin: 0px 16px 16px 0px;


            i {
              float: left;
              vertical-align: top;
            }

            p {
              display:inline-block;
              float: left;
              vertical-align: top;
              margin: 0px 0px 0px 12px;
              padding-top: 3px;
            }



            input[type=range] {
              -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
              max-width: 100px; /* Specific width is required for Firefox. */
              background: transparent; /* Otherwise white in Chrome */
              align-self: stretch;
            }


            input[type=range]::-webkit-slider-runnable-track {
                max-width: 100px;
                height: 5px;
                background: #ddd;
                border: none;
                border-radius: 3px;
            }

            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                border: none;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background: $primary-color;
                margin-top: -4px;
            }

            input[type=range]::-ms-thumb {
                border: none;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background: goldenrod;
            }

        }

      }

    }

    .sorting {

        ul {

            li {

              margin-top: 11px;
              margin-bottom: 22px;


              h4{
                font-size: 14px;
                display: block;
                float: left;
                width:100%;
                text-align: left;
              }


              div.rangeOption{
                 display: table;

                 .input{
                    display: table-cell;
                    vertical-align: middle;
                 }

                 .ranger {
                   padding-left: 12px;
                 }

              }


            }

        }

    }




    .main {
      padding: 20px 20px 0px 24px;
    }

    .marg{
      margin-left: 24px;
    }


    .searchBar{
        height: 64px;
        border-bottom-style: solid;
        border-bottom-color: rgba(0,0,0,0.14);
        border-width: 1px;

        .section {
          vertical-align: middle;
          display: inline-block;
          float: left;
          padding-top: 20px;

          .search-icon {
            opacity: 0.54;
          }

          .search-query {
            align-self: stretch;
            border-style: none;
            font-size: 15px;
            opacity: 0.24;
            padding-left: 12px;

          }

        }

    }


}






.testFont {
  font-family: 'Baloo Paaji', cursive;
}



.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media screen and (max-width: 650px) {



    .App {

          .selectedFonts{
            background-color: white;
            position: fixed;
            bottom: 0;
            margin: 0px 45 0px 45;
            width: calc(100%-90px);
            z-index: 2000;
          }

    }

    .listContainer {
      width: calc(100% - 41px);
    }

    .App-header {

        button{
          display: none;
        }

        div.links{
          display: none;
        }

    }

}

@media screen and ( min-width: 650px) {
    .App {

          .selectedFonts{
            background-color: white;
            position: fixed;
            bottom: 0;
            transform: translateX(240px);
            z-index: 2000;
            width: 560px;
          }

    }



    .listContainer{
        width: calc(50% - 41px);
    }


}


@media screen and (min-width: 1200px) {

    .App {

          .selectedFonts{
            background-color: white;
            position: fixed;
            bottom: 0;
            transform: translateX(800px);
            z-index: 2000;
            width: 560px;
          }

    }


    .listContainer{
        width: calc(33% - 41px);
    }

} /* End of media queries */




@keyframes spinnerOut {
  0% {transform: rotate(0deg); transform: scale(1);}
  20%{transform: scale(1.4); }
  60% {transform: rotate(60deg);  opacity: (1);}
  100% { opacity: (0); transform: rotate(60deg); transform: scale(1.4);}
}

@keyframes revealremove {
  0% { opacity: 0  };
  100% { opacity: 0.54 };
}





@import 'https://fonts.googleapis.com/css?family=Crimson+Text';
@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';
@import 'https://fonts.googleapis.com/css?family=Bitter';
@import 'https://fonts.googleapis.com/css?family=Oswald';
@import 'https://fonts.googleapis.com/css?family=Poiret+One';
@import 'https://fonts.googleapis.com/css?family=Merriweather';
@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'https://fonts.googleapis.com/css?family=Fascinate+Inline';
@import 'https://fonts.googleapis.com/css?family=VT323';
@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';
@import 'https://fonts.googleapis.com/css?family=Lobster';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans|Poppins';
@import 'https://fonts.googleapis.com/css?family=BioRhyme+Expanded|Fauna+One|Ultra';
@import 'https://fonts.googleapis.com/css?family=Amatic+SC';
@import 'https://fonts.googleapis.com/css?family=Tillana';
@import 'https://fonts.googleapis.com/css?family=Aldrich';






