@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro";
@import "https://fonts.googleapis.com/css?family=Crimson+Text";
@import "https://fonts.googleapis.com/css?family=Baloo+Paaji";
@import "https://fonts.googleapis.com/css?family=Bitter";
@import "https://fonts.googleapis.com/css?family=Oswald";
@import "https://fonts.googleapis.com/css?family=Poiret+One";
@import "https://fonts.googleapis.com/css?family=Merriweather";
@import "https://fonts.googleapis.com/css?family=Lato";
@import "https://fonts.googleapis.com/css?family=Fascinate+Inline";
@import "https://fonts.googleapis.com/css?family=VT323";
@import "https://fonts.googleapis.com/css?family=Share+Tech+Mono";
@import "https://fonts.googleapis.com/css?family=Lobster";
@import "https://fonts.googleapis.com/css?family=Josefin+Sans|Poppins";
@import "https://fonts.googleapis.com/css?family=BioRhyme+Expanded|Fauna+One|Ultra";
@import "https://fonts.googleapis.com/css?family=Amatic+SC";
@import "https://fonts.googleapis.com/css?family=Tillana";
@import "https://fonts.googleapis.com/css?family=Aldrich";
h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px; }

body {
  font-family: 'Source Sans Pro', sans-serif; }

button {
  outline: none;
  cursor: pointer; }

.primaryColor {
  color: #717AEF; }

.grey3 {
  color: #D9D9D9; }

li {
  list-style: none; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.MainArea {
  margin-top: 100px; }

.App-header {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
  height: 64px;
  color: rgba(0, 0, 0, 0.54);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.14);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 500; }
  .App-header .links {
    float: right;
    padding-top: 20px; }
  .App-header a {
    text-decoration: none;
    color: black;
    opacity: 0.54; }
  .App-header link {
    text-decoration: none;
    color: black;
    opacity: 0.54; }
  .App-header .active {
    color: #717AEF; }
  .App-header .LogoCase > div {
    vertical-align: middle; }
  .App-header .actionsOpen {
    transform: translateX(-280px); }
  .App-header .actionsClosed {
    transform: translateX(10px); }
  .App-header .actionIcons {
    float: right;
    padding-top: 8px;
    margin: 0px 40px 0px 20px; }
    .App-header .actionIcons button {
      margin: 12px;
      border: none;
      background-color: transparent; }
    .App-header .actionIcons i {
      width: 24px;
      height: 24px; }
  .App-header ul {
    margin: 0px;
    padding: 0px; }
  .App-header ul li {
    display: inline-block;
    font-size: 14px;
    margin-left: 34px;
    font-weight: 600; }
  .App-header .LogoCase {
    padding-top: 20px;
    float: left;
    opacity: 0.54;
    margin-left: 40px; }
  .App-header .logo {
    background-image: url("./daniel.svg");
    width: 74px;
    height: 24px;
    -webkit-background-size: 74px 24px;
    background-size: 74px 24px; }
  .App-header .headerElement {
    display: inline-block; }

.listContainer {
  width: calc(33% - 41px);
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  flex: 1;
  min-height: 420px; }
  .listContainer .listHeader {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; }
  .listContainer .listBody {
    display: flex; }
    .listContainer .listBody p {
      margin: 10px 0px; }
  .listContainer .listText {
    text-align: left; }
  .listContainer .listSentence {
    font-size: 40px;
    text-align: left; }
  .listContainer .listInfo {
    display: inline-block; }
  .listContainer .listAddBtn {
    background-color: transparent;
    border: none;
    display: inline-block;
    cursor: pointer; }
  .listContainer .spin180 {
    animation-name: spinnerOut;
    -webkit-animation-name: spinnerOut;
    transform: rotate(0deg);
    animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards; }
  .listContainer .addCircle {
    position: relative;
    z-index: 100;
    right: -24px; }
  .listContainer .removeOutline {
    z-index: 50;
    opacity: 0; }
  .listContainer .revealRemove {
    animation-name: revealremove;
    -webkit-animation-name: revealremove;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-duration: 0.3;
    -webkit-animation-duration: 0.3;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards; }

@keyframes spinnerOut {
  0% {
    transform: rotate(0deg);
    transform: scale(1); }
  20% {
    transform: scale(1.4); }
  60% {
    transform: rotate(60deg);
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(60deg);
    transform: scale(1.4); } }
@keyframes revealremove {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.54; } }
.listActionBar {
  padding: 10px 0px 10px 0px;
  height: 24px;
  opacity: 0; }
  .listActionBar .left {
    text-align: left; }
  .listActionBar p {
    padding: 0px;
    margin: 0px; }
  .listActionBar .center {
    border-left-width: 1px;
    border-right-width: 1px;
    border-left-color: #717AEF;
    border-right-color: #717AEF;
    border-left-style: solid;
    border-right-style: solid; }
  .listActionBar .actionBarSeg {
    display: inline-block;
    width: 33%;
    color: #717AEF; }
    .listActionBar .actionBarSeg .large {
      width: 70%; }
    .listActionBar .actionBarSeg input[type=range] {
      -webkit-appearance: none;
      /* Hides the slider so that custom slider can be made */
      max-width: 100px;
      /* Specific width is required for Firefox. */
      background: transparent;
      /* Otherwise white in Chrome */ }
    .listActionBar .actionBarSeg input[type=range]::-webkit-slider-runnable-track {
      max-width: 100px;
      height: 5px;
      background: #ddd;
      border: none;
      border-radius: 3px; }
    .listActionBar .actionBarSeg input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: #717AEF;
      margin-top: -4px; }
    .listActionBar .actionBarSeg input[type=range]::-ms-thumb {
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: goldenrod; }
    .listActionBar .actionBarSeg .small {
      width: 30%; }
    .listActionBar .actionBarSeg .actionBarItem {
      display: inline-block;
      vertical-align: text-top; }
      .listActionBar .actionBarSeg .actionBarItem p {
        vertical-align: middle; }
      .listActionBar .actionBarSeg .actionBarItem i {
        vertical-align: middle; }

.listContainer:hover .listActionBar {
  opacity: 1; }

.primaryOpen {
  width: 100%;
  padding-right: 296px;
  box-sizing: border-box; }

.secondaryOpen {
  position: fixed;
  z-index: 500;
  top: 0px;
  right: 0px;
  width: 280px;
  height: 100%;
  background-color: white;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(0, 0, 0, 0.14); }

.secondaryClosed {
  display: none; }

.rightMenuContainer {
  width: 200;
  height: 100%; }
  .rightMenuContainer .filters h4 {
    float: left;
    margin-bottom: 16px; }
  .rightMenuContainer .filters ul {
    margin: 0px;
    padding: 0px; }
    .rightMenuContainer .filters ul li {
      float: left;
      width: 100%;
      margin: 0px 16px 16px 0px; }
      .rightMenuContainer .filters ul li i {
        float: left;
        vertical-align: top; }
      .rightMenuContainer .filters ul li p {
        display: inline-block;
        float: left;
        vertical-align: top;
        margin: 0px 0px 0px 12px;
        padding-top: 3px; }
  .rightMenuContainer .main {
    padding: 20px 20px 0px 24px; }
  .rightMenuContainer .marg {
    margin-left: 24px; }
  .rightMenuContainer .searchBar {
    height: 64px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.14);
    border-width: 1px; }
    .rightMenuContainer .searchBar .section {
      vertical-align: middle;
      display: inline-block;
      float: left;
      padding-top: 20px; }
      .rightMenuContainer .searchBar .section .search-icon {
        opacity: 0.54; }
      .rightMenuContainer .searchBar .section .search-query {
        align-self: stretch;
        border-style: none;
        font-size: 15px;
        opacity: 0.24;
        padding-left: 12px; }

.testFont {
  font-family: 'Baloo Paaji', cursive; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=output.css.map */
